@using Microsoft.AspNetCore.Identity

@inject SignInManager<Guest> SignInManager
@inject UserManager<Guest> UserManager
@inject IMemberService Members
@inject IPatronService Patron

@model IEnumerable<ActorViewModel>


@{
    var userId = User.GetId();

    <div class="container">
        <div class="jumbotron">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row">
                    @foreach (var movie in Model)
                    {
                        <div class="col-md-4">
                            <div class="card border border-info">
                                <img class="card-img-top" src="@movie.ImagePath" alt="@movie.FirstName @movie.LastName" poster" width="400" height="400" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-center">@movie.FirstName @movie.LastName</h5>
                                    <a asp-controller="Cinema" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p class="display-1">Oops!</p>
                <br />
                <p>It looks like you are not logged in your account...</p>
                <br />
                <a>
                    Please,
                    <p asp-area="Identity" asp-page="/Index/Login">Log in</p> with your account details or
                    <p asp-area="Identity" asp-page="/Index/Register">Register</p> if you still don't have an account.
                </a>
                <br />
            }
        </div>
    </div>
}
