@using Microsoft.AspNetCore.Identity

@inject SignInManager<Guest> SignInManager
@inject UserManager<Guest> UserManager
@inject IMemberService Members
@inject IPatronService Patron

@model MovieServiceModel


@{
    var userId = User.GetId();

    <div class="container">
        <div class="jumbotron">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row">
                    <div class="col col-lg-6">
                        <img src="@Model.ImagePath" alt="@Model.MovieTitle poster" width="400" height="400" />
                    </div>

                    <div class="col col-lg-6">
                        <div class="row"><h5>Title: @Model.MovieTitle</h5></div>
                        <div class="row"><h5>Director: @Model.Director</h5></div>
                        <div class="row"><h5>Movie Duration: @Model.MovieDuration.ToString(@"hh\:mm")</h5></div>
                        <div class="row"><h5>Year Of Release: @Model.YearOfRelease</h5></div>
                        <div class="row">
                            <h5>Actors: @String.Join(',', Model.Actors.Take(3))</h5>
                            <a asp-controller="Cinema" asp-action="AllActors" asp-route-id="@Model.Actors"></a>
                        </div>
                        <div class="row">
                            <h5>IMDb Rating: @Model.Rating/10</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-12">
                        <h4>Description:</h4>
                        <h6>@Model.Description</h6> <br />
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#watchMovieModal">
                    Watch Movie
                </button>
            }
            else
            {
                <p class="display-1">Oops!</p>
                <br />
                <p>It looks like you are not logged in your account...</p>
                <br />
                <a>
                    Please,
                    <p asp-area="Identity" asp-page="/Index/Login">Log in</p> with your account details or
                    <p asp-area="Identity" asp-page="/Index/Register">Register</p> if you still don't have an account.
                </a>
                <br />
            }
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="watchMovieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Watch @Model.MovieTitle Now</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Continue to movie
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No, thanks</button>
                <button type="button" class="btn btn-primary" asp-controller="Cinema" asp-action="WatchMovie" asp-route-id="@Model.Id">Watch</button>
            </div>
        </div>
    </div>
</div>