@using GreenDoorProject.Services.Members
@using GreenDoorProject.Services.Patrons
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IMemberService Members
@inject IPatronService Patron

@model MovieDetailsServiceModel

@{
    var userId = User.GetId();

    if (SignInManager.IsSignedIn(User))
    {
        <div class="row">
            <div class="col col-lg-6">
                <img src="@Model.ImagePath" alt="Movie poster" />
            </div>
            <div class="col col-lg-6">
                <div class="row">Title: @Model.MovieTitle</div>
                <div class="row">Director: @Model.Director</div>
                <div class="row">Year Of Release: @Model.YearOfRelease</div>
                <div class="row">
                    Actors: @String.Join(',', Model.Actors.Take(3))
                    <a asp-controller="Cinema" asp-action="AllActors" asp-route-id="@Model.Actors"></a>
                </div>
                <div class="row">Rating: @Model.Rating</div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                <h4>Description:</h4>
                <h6>@Model.Description</h6>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-3 text-center">
                <button type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#UseTokenModal">
                    Buy tickets
                </button>
            </div>
        </div>
    }
    else
    {
        <p class="display-1">Oops!</p>
        <br />
        <p>It looks like you are not logged in your account...</p>
        <br />
        <p>
            Please,
            <a asp-area="Identity" asp-page="/Index/Login">Log in</a> with your account details or
            <a asp-area="Identity" asp-page="/Index/Register">Register</a> if you still don't have an account.
        </p>
        <br />
    }
}

<!--UseTokenModal-->
<div class="modal fade" id="UseTokenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Purchase movie tickets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Would you like to continue to counter?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Not yet</button>
                <button type="button" class="btn btn-primary" asp-controller="Cinema" asp-action="Buy">Yes, please</button>
            </div>
        </div>
    </div>
</div>
