@using Microsoft.AspNetCore.Identity

@inject SignInManager<Guest> SignInManager
@inject UserManager<Guest> UserManager
@inject IMemberService Members
@inject IPatronService Patron

@model MovieServiceModel


@{
    var userId = User.GetId();

    <div class="container">
        <div class="jumbotron">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row">
                    <div class="col col-lg-6">
                        <img src="@Model.ImagePath" alt="@Model.MovieTitle poster" width="400" height="400" />
                    </div>

                    <div class="col col-lg-6">
                        <div class="row"><h5>Title: @Model.MovieTitle</h5></div>
                        <div class="row"><h5>Director: @Model.Director</h5></div>
                        <div class="row"><h5>Movie Duration: @Model.MovieDuration.ToString(@"hh\:mm")</h5></div>
                        <div class="row"><h5>Year Of Release: @Model.YearOfRelease</h5></div>
                        <div class="row">
                            <h5>Actors: @String.Join(',', Model.Actors.Take(3))</h5>
                            <a asp-controller="Cinema" asp-action="AllActors" asp-route-id="@Model.Actors"></a>
                        </div>
                        <div class="row">
                            <h5>IMDb Rating: @Model.Rating/10</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-12">
                        <h4>Description:</h4>
                        <h6>@Model.Description</h6> <br />
                    </div>
                </div>

                if (User.IsAdmin() || Members.IsMember(userId) || (Patron.IsPatron(userId) && Patron.HasTokens(userId)))
                {
                    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Cinema" asp-action="WatchMovie">
                        Watch Movie
                    </a>
                }
                else if (!Patron.HasTokens(userId))
                {
                    <h5 class="display-1">Oops!</h5>
                    <br />
                    <h6>It looks like you do not have enough tokens...</h6>
                    <br />
                    <h6>Please, consider becoming a member and get exclusive membership offer for unlimited usage of our content.
                        <a class="btn btn-primary" asp-area="Member" asp-page="BecomeMember">Become Member</a></h6> <br />
                }
                else
                {
                    <h5 class="display-1">Oops!</h5>
                    <br />
                    <h6>It looks like you are not logged in your account...</h6>
                    <br />
                    <h6>
                        Please,
                        <a asp-area="Identity" asp-page="/Index/Login">Log in</a>with your account details or
                        <a asp-area="Identity" asp-page="/Index/Register">Register</a>if you still don't have an account.
                    </h6> <br />
                }
            }

        </div>
</div>
}