@model AllBooksQueryModel

@{
    ViewData["Title"] = "All Books";
}


<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Genre"></label>
                <select asp-for="Genre" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
                        <option value="@genre">@genre</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Enter the book title you are looking for..." />
        </div>

        <div class="form-group col-md-4">
        </div>
    </div>
    <input type="submit" class="btn btn-primary d-none" value="Search" />
</form>

<h1 style="margin: 2%; text-align: center;">@ViewData["Title"]</h1>

<div class="row">
    @foreach (var book in Model.Books)
    {
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="@book.ImagePath" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@book.BookTitle</h5>
                    <h5 class="card-body text-center">@book.AuthorName</h5>
                    <h5 class="card-footer text-center">@book.Price</h5>
                    <a asp-controller="Books" asp-action="Buy" asp-route-id="@book.Id" class="btn btn-primary stretched-link">Buy book</a>
                </div>
            </div>
        </div>
    }
</div>