@model AllBooksQueryModel
@{
    ViewData["Title"] = "All Books";
}

@if (!string.IsNullOrWhiteSpace(Model.ModelError))
{
    <div class="text-center alert-info">
        <h4>@Model.ModelError</h4>
    </div>
}
else
{
    <form method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label asp-for="Genre"></label>
                    <select asp-for="Genre" class="form-control">
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre">@genre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Enter the book title you are looking for..." />
            </div>

            <div class="form-group col-md-4">
                <div class="form-group">
                    <label asp-for="Sorting"></label>
                    <select asp-for="Sorting" class="form-control">
                        <option value="0" selected>Book Title Ascending</option>
                        <option value="1">Book Title Descenging</option>
                        <option value="2">Author Name</option>
                        <option value="3">Recommendation</option>
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary d-none" value="Search" />
    </form>

    <h1 style="margin: 2%; text-align: center;">@ViewData["Title"]</h1>


    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var lastPage = Math.Ceiling((double)Model.TotalBooks / AllBooksQueryModel.BooksPerPage);


    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disable" : string.Empty)"
               asp-controller="Books"
               asp-action="All"
               asp-route-currentPage="@previousPage"
               asp-route-genre="@Model.Genre"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@Model.Sorting">&lt;&lt;</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary float-right @(Model.CurrentPage == lastPage ? "disabled" : string.Empty)"
               asp-controller="Books"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage++)"
               asp-route-genre="@Model.Genre"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@Model.Sorting">&gt;&gt;</a>
        </div>
    </div>

    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class="col-md-3">
                <div class="card border border-info">
                    <img class="card-img-top" src="@book.ImagePath" />
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@book.BookTitle</h5>
                        <h5 class="card-body text-center">@book.AuthorName</h5>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary stretched-link">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}