@using Microsoft.AspNetCore.Identity

@inject SignInManager<Guest> SignInManager
@inject UserManager<Guest> UserManager
@inject IMemberService Members
@inject IPatronService Patron

@model BookServiceModel

@{var userId = User.GetId(); }

<div class="container">
    <div class="jumbotron">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="row">
                <div class="col col-lg-6">
                    <img src="@Model.ImagePath" alt="Book cover photo" width="400" height="400" />
                </div>
                <div class="col col-lg-6">
                    <div class="row"><h5>Title: @Model.BookTitle</h5></div>
                    <div class="row"><h5>Author: @Model.AuthorFirstName @Model.AuthorLastName</h5></div>
                    <div class="row"><h5>Genre: @Model.Genre.Name</h5></div>
                    <div class="row"><h5>Pages: @Model.Pages</h5></div>
                    <div class="row"><h5>Rating: @Model.Rating</h5></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <h4>Description:</h4>
                    <h6>@Model.Description</h6>
                </div>
            </div>
        }

        @if (Members.IsMember(userId) || (Patron.IsPatron(userId) && Patron.HasTokens(userId)))
        {
            <div class="row justify-content-md-center">
                <div class="col col-md-3 text-center">
                    <a asp-controller="Books"
                       asp-action="Read"
                       asp-route-id="@Model.Id"
                       class="btn btn-primary">Read book</a>
                </div>
            </div>
        }
        else
        {
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#becomeMemberModal">
                Read book
            </button>
        }
    </div>
</div>

<div class="modal fade" id="becomeMemberModal" tabindex="-1" aria-labelledby="becomeMemberModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">You are not a member</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Only members and active patrons can watch this movie.
                Consider becoming a member.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, thanks</button>
                <button type="button" class="btn btn-primary" asp-controller="Cinema" asp-action="WatchMovie" asp-route-id="@Model.Id">Save changes</button>
            </div>
        </div>
    </div>
</div>