@model AllBooksQueryModel

@{
    ViewData["Title"] = "All Books";
}

<div class="container">
    <div class="jumbotron">

        @if (!string.IsNullOrWhiteSpace(Model.ModelError))
        {
            <div class="text-center alert-info">
                <h4>@Model.ModelError</h4>
            </div>
        }
        else
        {
            <form method="get">
                <div class="row">
                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <label asp-for="Genre"></label>
                            <select asp-for="Genre" class="form-control">
                                @foreach (var genre in Model.Genres)
                                {
                                    <option value="@genre">@genre</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="SearchTerm"></label>
                        <input asp-for="SearchTerm" class="form-control" placeholder="Search..." />
                    </div>

                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <label asp-for="Sorting"></label>
                            <select asp-for="Sorting" class="form-control">
                                <option value="0" selected>Book Title Ascending</option>
                                <option value="1">Book Title Descenging</option>
                                <option value="2">Author Name Ascending</option>
                                <option value="3">Author Name Descending</option>
                                <option value="4">Rating Ascending</option>
                                <option value="5">Rating Descending</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <div class="form-check">
                            <label asp-for="ShowOnlyAuthors" class="form-check-label">
                                <input asp-for="ShowOnlyAuthors" type="checkbox" class="form-check-input" value="" />Show Only Authors
                            </label>
                        </div>
                    </div>

                </div>
                <input type="submit" class="btn btn-primary d-none" value="Search" />
            </form>

            <h1 style="margin: 2%; text-align: center;">@ViewData["Title"]</h1>

            if (!Model.Books.Any())
            {
                <h2 class="text-center">There are no books that match your search criteria.</h2>
            }

            if (!Model.ShowOnlyAuthors)
            {
                <partial name="_BooksPartial" model="@Model.Books" />
            }
            else
            {
                <partial name="_AuthorsPartial" model="@Model.Authors" />
            }
        }
    </div>
</div>