@inject SignInManager<Guest> SignInManager
@inject UserManager<Guest> UserManager
@inject IMemberService Members
@inject IPatronService Patron

@using Microsoft.AspNetCore.Identity

@model MusicServiceModel

@{
    var userId = User.GetId();
    var i = 1;
}

<div class="container">
    <div class="jumbotron">
        @{
            if (SignInManager.IsSignedIn(User))
            { <div class="row">
                    <div class="col col-lg-6">
                        <img src="@Model.ImagePath" alt="Book cover photo" width="400" height="400" />
                    </div>

                    <div class="col col-lg-6">
                        <div class="row"><h5>Album Title: @Model.AlbumTitle</h5></div>
                        <div class="row"><h5>Artist: @Model.Artist </h5></div>
                        <div class="row"><h5>Rating: @Model.Rating</h5></div>
                    </div>

                    <h4>Songs:</h4>
                    <table class="table">
                        <thead>
                            <tr class="table">
                                <th scope="col">#</th>
                                <th scope="col">Song Title</th>
                                <th scope="col">Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table">
                                @foreach (var song in Model.Songs)
                                {
                                    <td class="table-@((i % 2 == 0) ? "secondary" : "success")">
                                        <h6>@i</h6>
                                    </td>
                                    <td class="table-@((i % 2 == 0) ? "secondary" : "success")">
                                        <h6>@song.Name</h6>
                                    </td>
                                    <td class="table-@((i % 2 == 0) ? "secondary" : "success")">
                                        <h6>(@song.SongDuration)</h6>
                                    </td>
                                    i++;
                                }
                            </tr>
                        </tbody>
                    </table>

                    @if (Members.IsMember(userId) || (Patron.IsPatron(userId) && Patron.HasTokens(userId)) || User.IsAdmin())
                    {
                        <div class="row justify-content-md-center">
                            <div class="col col-md-3 text-center">
                                <a asp-controller="Music"
                                   asp-action="Play"
                                   asp-route-id="@Model.Id"
                                   class="btn btn-primary">Play album</a>
                            </div>
                        </div>
                    }
                    else
                    {
                    <h4>You are not a member</h4>
                    <h5>Only members and active patrons can play music.</h5>
                    <h5>Consider becoming a member.</h5>
                    <button type="button" class="btn btn-primary" asp-area="" asp-controller="Members" asp-action="BecomeMember" asp-route-id="@Model.Id">Become Member</button>
                    }
                </div>
            }
        }
    </div>
</div>
