@model StatisticsServiceModel


<div class="container">
    <div class="jumbotron d-none" id="statistics">
        <div class="row">
            <h2 class="col-md-4 text-center">Total Books: @Model.TotalBooks</h2>
            <h2 class="col-md-4 text-center">Total Movies: @Model.TotalMovies</h2>
            <h2 class="col-md-4 text-center">Total Music Albums: @Model.TotalMusicAlbums</h2>
        </div>
        <div class="row">
            <h2 class="col-md-4 text-center">Total Guests: @Model.TotalGuests</h2>
            <h2 class="col-md-4 text-center">Total Members: @Model.TotalMembers</h2>
            <h2 class="col-md-4 text-center">Total Patrons: @Model.TotalPatrons</h2>
        </div>
    </div>
</div>